<div class="row">
  <div class="span8">
    <div class="boxes">
      <legend><%= @title %></legend>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Profession</th>
            <th>Looking For</th>
          </tr>
        </thead>
        <tbody>
          <% @profiles.each do |profile| %>
            <tr>
              <td><%= link_to profile.name, profile %></td>
              <td><%= profile.profession %></td>
              <td><%= profile.need %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @profiles %>
    </div>
  </div>
</div>
