<div class="row">
  <%= render 'layouts/sidebar' %>
  <div class="span8 <%= "offset2" unless user_signed_in? %>">
    <div class="boxes">
      
      <% if @profile.errors.any? %>
        <div class="alert alert-error">
        <% @profile.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
        </div>
      <% end %>

      <fieldset>
        <legend>
          <%= @title %>
          <%= link_to image_tag(asset_path('Facebook.png')), 
            "http://facebook.com/#{@profile.facebook}",
            :target => "_blank" unless 
            @profile.facebook.blank? %>
          <%= link_to image_tag(asset_path('LinkedIn.png')), 
            "http://linkedin.com/#{@profile.linkedin}",
            :target => "_blank" unless 
            @profile.linkedin.blank? %>
          <%= link_to image_tag(asset_path('Twitter.png')), 
            "http://twitter.com/#{@profile.twitter}",
            :target => "_blank" unless
            @profile.twitter.blank? %>
          <%= link_to image_tag(asset_path('Mail.png')), 
            "mailto:#{@profile.user.email}",
            :target => "_blank" if
            @profile.email_display %>
        </legend>
        <dl class="dl-horizontal">
          <% if @profile.phone_display %>
            <dt>Professional Level</dt>
            <dd><%= @profile.pro_level %></dd>
            <br />
          <% end %>
          <dt>Professional Level</dt>
          <dd><%= @profile.pro_level %></dd>
          <br />
          <dt>Profession</dt>
          <dd><%= @profile.profession %></dd>
          <br />
          <dt>Organization</dt>
          <dd><%= link_to @profile.entity, "http://" + @profile.org_website %></dd>
          <br />
          <dt>Skills</dt>
          <dd><%= @profile.skills %></dd>
          <br />
          <dt>Looking For</dt>
          <dd><%= @profile.need %></dd>
          <br />
          <dt>Need Advisors?</dt>
          <dd><%= @profile.need_advisors ? "Yes" : "No" %></dd>
          <br />
          <dt>Need CoFounder?</dt>
          <dd><%= @profile.need_cofounder ? "Yes" : "No" %></dd>
          <br />
          <dt>Need Temporary Help?</dt>
          <dd><%= @profile.need_temp ? "Yes" : "No" %></dd>
          <br />
          <dt>Need Investors?</dt>
          <dd><%= @profile.need_investors ? "Yes" : "No" %></dd>
          <br />
          <% unless @profile.projects.blank? %>
            <dt>Working On</dt>
            <% @profile.projects.each do |p| %>
              <dd><%= link_to p.title, p %></dd>
            <% end %>
          <% end %>
        </dl>
      </fieldset>
    </div>
  </div>
</div>
