<div class="row">
  <%= render 'layouts/sidebar' %>
  <div class="span8 <%= "offset2" unless user_signed_in? %>">
    <div class="boxes">
      
      <% if @profile.errors.any? %>
        <div class="alert alert-error">
        <% @profile.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
        </div>
      <% end %>

      <fieldset>
        <legend><%= @title %></legend>
        <br />
        <dl class="dl-horizontal">
          <dt>Profession</dt>
          <dd><%= @profile.profession %></dd>
          <br />
          <dt>Organization</dt>
          <dd><%= @profile.entity %></dd>
          <br />
          <dt>Skills</dt>
          <dd><%= @profile.skills %></dd>
          <br />
          <dt>Looking For</dt>
          <dd><%= @profile.need %></dd>
          <br />
          <% unless @profile.projects.blank? %>
            <dt>Working On</dt>
            <% @profile.projects.each do |p| %>
              <dd><%= link_to p.title, p %></dd>
            <% end %>
          <% end %>
        </dl>
      </fieldset>
    </div>
  </div>
</div>
